<footer>
    <div id="footer-container" class="link-style">
        <div>
            © Keshav Mathur. All Rights Reserved
        </div>
        <div class="links-container-ft">
            <div class="link-style">
                <a href="/">Home</a>
            <% if(locals.user) {%>
                <a href="/students">Students</a>
                <a href="/companies">Companies</a>
                <a href="/interviews">Interviews</a>
            <%}%>
            </div>
        </div>
    </div>
</footer>