<link rel="stylesheet" type="text/css" href="/css/list_students.css">
<a href="/users/sign-out">Sign Out</a>
<main>
    <div class="students-container">
        <div class="single-student-container">
            <div class="nam-bat-id-container">
                <div class="text-1">Keshav Mathur</div>
                <div class="text-1">Career Camp</div>
                <div class="text-2">159101071</div>
            </div>
            <div class="actions-container">
                <div class="action-1"><button>Add Interview</button></div>
                <div class="action-1">More Details</div>
            </div>
        </div>
    </div>
</main>
