<link rel="stylesheet" type="text/css" href="/css/new_company_form.css">
<main>
    <div class="forms-container">
        <div id="new-company-div">
            <form action="/companies/create-company" method="POST" id="new-company-form">
                <div class="welcome-txt">Add New company</div>
                <input type="text" placeholder="Name" name="name" class="input-initial" required>
                <input type="email" placeholder="HR Email" name="email" class="input-initial" required>
                <button id="btn-new-company" type="submit">Add company</button>
            </form>
        </div>
    </div>
</main>
