<link rel="stylesheet" type="text/css" href="/css/new_result_form.css">
<script type="text/javascript" src="/js/new_result_form.js"></script>

<main>
    <div class="forms-container">
        <div id="new-result-div">
            <form action="/results/create-result" method="POST" id="new-result-form">
                <div class="welcome-txt">Add New result</div>
       
                <select name="student" id="student-select" class="input-initial">
                    <option value="none">Select Student</option>
                    <% 
                        for(let option of students)
                        {%> 
                            <option value="<%= option._id%>"><%= option.name %></option>    
                        <%}
                    %> 
                </select>
       
                <select name="interview-name" id="interview-select" class="input-initial" name="interview-name">
                    <option value="none">Select Company</option>
                    <% 
                        for(let option of interviews)
                        {%> 
                            <option value="<%= option._id%>"><%= option.company.name %></option>    
                        <%}
                    %> 
                </select>
                <select name="result" id="result-select" class="input-initial">
                    <option value="none">Select Result</option>
                    <option value="0">Pass</option>
                    <option value="1">Fail</option>
                    <option value="2">On Hold</option>
                    <option value="3">Didn't Attempt</option>
                </select>
                <button id="btn-new-result" type="submit">Add Result</button>
            </form>
        </div>
    </div>
</main>


