body{
    margin: 0;
    background-color: #FAD744;
    #header-container{
        background-color: #2B3252;
        color: #FAD744;;
        margin-bottom: 1rem;

        .links-container{
            display: flex;
            flex-direction: row;
            justify-content: start;

            .action-form-container{
                display: flex;
                flex-direction: column;
                
            }
            div{
                margin-left: 1rem;
                a{
                    color: #FAD744;;
                    font-weight: 300;
                    text-decoration: none;
                    font-family: sans-serif;
                }
            }
        }    
        
        
    }
}
#header-container{
    background-color: #0680FD;
    padding: 0.5rem;
    
}

#site-heading{
    font-family: sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.grow{
    flex-grow: 1;
}