body{
    main{
        background-color: #FCE77D;
        #btn-add-company{
            text-align: center;
        }

        .company-container{
            min-height: 100vh;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            font-family: sans-serif;

            .single-company-container{
                margin: 0.5rem;
                background-color: #FEFCD7;
                display: flex;
                flex-direction: row;

                .nam-bat-id-container{
                    background-color: #FFCF79;
                    display: flex;
                    flex-direction: column;
                    min-width: 15rem;

                    .text-1{
                        margin: 0.25rem;
                    }
                    .text-2{
                        margin: 0.5rem;
                    }
                }
                .div-container{
                    flex-grow: 1;
                }
                .actions-container{
                    display: flex;
                    flex-direction: column;

                    .action-1{
                        margin: 0.5rem;
                    }

                }
            }
        }
    }
}