body{
    main{
        background-color: #FCE77D;
        
        font-family: sans-serif;

        #headers-container{
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin-left: 1rem;   
        }
        #student-header-container{
            min-width: 15rem;
        }
        #interview-scheduled-header-container{
            min-width: 15rem;
        }
        .input-initial{
            width: 60%;
            border: 1px solid #e5e5e5;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 0.5rem;
            padding: 0.25rem;
        }

        #filter-container{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .label{
                font-weight: 600;
                font-size: 0.8rem;
                margin-top: 0.75rem;
                border: none;
            }
        }

        .results-container{
            min-width: 20rem;
            .single-result-container{
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;

                .text-3{
                    margin: 0.25rem;      
                    margin-left: 1rem;
                    min-width: 4rem;
                }

                .status{
                    font-weight: 600;
                    font-size: 0.9rem;
                }
            }
        }

        .students-container{
            min-height: 100vh;
            margin: 0.5rem;
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;

            .single-student-container{
                margin: 0.5rem;
                background-color: #FEFCD7;
                display: flex;
                flex-direction: row;
                justify-content: start;

                .headers{
                    font-weight: 600;
                    margin-left: 0.5rem;
                    font-size: 0.9rem;
                    margin-bottom: 0.25rem;
                }

                .nam-bat-id-container{
                    background-color: #FFCF79;
                    display: flex;
                    flex-direction: column;
                    min-width: 15rem;

                    .text-1{
                        margin: 1rem;      
                    }
                    .text-2{
                        margin: 0.25rem;      
                        margin-left: 1rem;
                    }
                    .text-3{
                        margin: 0.25rem;      
                        margin-left: 1rem;
                    }
                  
                }
                .interviews-container{
                    overflow-y: hidden;   
                    flex-grow: 1;

                    .single-interview-container{
                        // background-color: lightblue;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 1rem;

                        .text-3{
                            margin: 0.5rem;
                        }
                        .status{
                            font-weight: 600;
                        }
                        #btn-new-result{
                            padding: 0.5rem;
                            background-color: #FFCF79;
                        }
                    }
                }
                .actions-container{
                    display: flex;
                    flex-direction: column;
                    // background-color: grey;

                    .action-1{
                        margin: 0.5rem;
                    }

                }
            }
        }
    }
}
