body{
    main{
        background-color: #989FBB;

        #btn-add-student{
            text-align: center;
        }

        .students-container{
            min-height: 100vh;
            margin: 0.5rem;
            background-color: orange;
            display: flex;
            flex-direction: column;

            .single-student-container{
                margin: 0.5rem;
                background-color: pink;
                display: flex;
                flex-direction: row;
                justify-content: start;

                .nam-bat-id-container{
                    background-color: brown;
                    display: flex;
                    flex-direction: column;

                    .text-1{
                        margin: 0.25rem;
                    }
                    .text-2{
                        margin: 0.5rem;
                    }
                }
                .interviews-container{
                    overflow-y: scroll;   
                    flex-grow: 1;

                    .single-interview-container{
                        background-color: lightblue;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 1rem;

                        .text-3{
                            margin: 0.5rem;
                        }
                    }
                }
                .actions-container{
                    display: flex;
                    flex-direction: column;
                    background-color: grey;

                    .action-1{
                        margin: 0.5rem;
                    }

                }
            }
        }
    }
}
