body{
    main{
        background-color: #FAD744;
        font-size: 0.8rem;
        font-family: sans-serif;

        #btn-add-interview{
            text-align: center;
        }

        .interview-container{
            min-height: 100vh;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;

            .single-interview-container{
                margin: 0.5rem;
                background-color: #FCE77D;
                display: flex;
                flex-direction: row;
                max-height: 5rem;

                .nam-bat-id-container{
                    display: flex;
                    flex-direction: column;
                    background-color: #F96167;
                    min-width: 15rem;
                    .text-1{
                        margin: 0.25rem;
                    }
                    .text-2{
                        margin: 0.5rem;
                    }
                }
                .students-container{
                    margin-left: 0.5rem;
                    overflow-y: hidden;   
                    flex-grow: 1;
                    .single-student-container{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                    }
                }
                .actions-container{
                    display: flex;
                    flex-direction: column;

                    .action-1{
                        margin: 0.5rem;
                    }

                }
            }
        }
    }
}