#footer-container {
  position: absolute;
  width: 98.8%;
  bottom: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #2B3252;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #FAD744; }
  #footer-container .links-container-ft {
    display: flex;
    flex-direction: column;
    align-items: start; }
    #footer-container .links-container-ft a {
      text-decoration: none;
      color: #FAD744;
      margin-left: 2rem; }
  #footer-container .link-style {
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: 500; }
