body main {
  background-color: #989FBB; }
  body main #btn-add-student {
    text-align: center; }
  body main .students-container {
    min-height: 100vh;
    margin: 0.5rem;
    background-color: orange;
    display: flex;
    flex-direction: column; }
    body main .students-container .single-student-container {
      margin: 0.5rem;
      background-color: pink;
      display: flex;
      flex-direction: row;
      justify-content: start; }
      body main .students-container .single-student-container .nam-bat-id-container {
        background-color: brown;
        display: flex;
        flex-direction: column; }
        body main .students-container .single-student-container .nam-bat-id-container .text-1 {
          margin: 0.25rem; }
        body main .students-container .single-student-container .nam-bat-id-container .text-2 {
          margin: 0.5rem; }
      body main .students-container .single-student-container .interviews-container {
        overflow-y: scroll;
        flex-grow: 1; }
        body main .students-container .single-student-container .interviews-container .single-interview-container {
          background-color: lightblue;
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem; }
          body main .students-container .single-student-container .interviews-container .single-interview-container .text-3 {
            margin: 0.5rem; }
      body main .students-container .single-student-container .actions-container {
        display: flex;
        flex-direction: column;
        background-color: grey; }
        body main .students-container .single-student-container .actions-container .action-1 {
          margin: 0.5rem; }
