body main {
  background-color: grey; }
  body main #btn-add-company {
    text-align: center; }
  body main .company-container {
    min-height: 100vh;
    margin: 0.5rem;
    background-color: orange;
    display: flex;
    flex-direction: column; }
    body main .company-container .single-company-container {
      margin: 0.5rem;
      background-color: pink;
      display: flex;
      flex-direction: row; }
      body main .company-container .single-company-container .nam-bat-id-container {
        background-color: brown;
        display: flex;
        flex-direction: column;
        flex-grow: 1; }
        body main .company-container .single-company-container .nam-bat-id-container .text-1 {
          margin: 0.25rem; }
        body main .company-container .single-company-container .nam-bat-id-container .text-2 {
          margin: 0.5rem; }
      body main .company-container .single-company-container .actions-container {
        display: flex;
        flex-direction: column;
        background-color: grey; }
        body main .company-container .single-company-container .actions-container .action-1 {
          margin: 0.5rem; }
