body main {
  background-color: grey; }
  body main .heading {
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
    letter-spacing: 0.5; }
  body main .job-container {
    display: flex;
    flex-direction: column; }
    body main .job-container .single-job-container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin: 1rem;
      padding: 1rem; }
      body main .job-container .single-job-container .img-div {
        height: 4rem;
        width: 4rem;
        margin-right: 1rem; }
        body main .job-container .single-job-container .img-div img {
          height: 4rem;
          width: 4rem; }
      body main .job-container .single-job-container .short-req-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 10rem; }
      body main .job-container .single-job-container .job-description {
        margin-left: 2rem; }
  body main .pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0.5rem;
    padding: 0.5rem; }
