body main {
  background-color: #FAD744;
  font-size: 0.9rem; }
  body main #btn-add-interview {
    text-align: center; }
  body main .interview-container {
    min-height: 100vh;
    margin: 0.5rem;
    display: flex;
    flex-direction: column; }
    body main .interview-container .single-interview-container {
      margin: 0.5rem;
      background-color: #FCE77D;
      display: flex;
      flex-direction: row;
      max-height: 5rem; }
      body main .interview-container .single-interview-container .nam-bat-id-container {
        display: flex;
        flex-direction: column;
        background-color: #F96167; }
        body main .interview-container .single-interview-container .nam-bat-id-container .text-1 {
          margin: 0.25rem; }
        body main .interview-container .single-interview-container .nam-bat-id-container .text-2 {
          margin: 0.5rem; }
      body main .interview-container .single-interview-container .students-container {
        margin-left: 0.5rem;
        overflow-y: hidden;
        flex-grow: 1; }
        body main .interview-container .single-interview-container .students-container .single-student-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem; }
      body main .interview-container .single-interview-container .actions-container {
        display: flex;
        flex-direction: column; }
        body main .interview-container .single-interview-container .actions-container .action-1 {
          margin: 0.5rem; }
