body main {
  background-color: #FAD744;
  font-family: sans-serif; }
  body main #btn-add-student {
    text-align: center; }
  body main .students-container {
    min-height: 100vh;
    margin: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column; }
    body main .students-container .single-student-container {
      margin: 0.5rem;
      background-color: #FCE77D;
      display: flex;
      flex-direction: row;
      justify-content: start; }
      body main .students-container .single-student-container .nam-bat-id-container {
        background-color: #F96167;
        display: flex;
        flex-direction: column;
        min-width: 15rem; }
        body main .students-container .single-student-container .nam-bat-id-container .text-1 {
          margin: 0.25rem; }
        body main .students-container .single-student-container .nam-bat-id-container .text-2 {
          margin: 0.5rem; }
      body main .students-container .single-student-container .interviews-container {
        overflow-y: hidden;
        flex-grow: 1; }
        body main .students-container .single-student-container .interviews-container .single-interview-container {
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem; }
          body main .students-container .single-student-container .interviews-container .single-interview-container .text-3 {
            margin: 0.5rem; }
      body main .students-container .single-student-container .actions-container {
        display: flex;
        flex-direction: column; }
        body main .students-container .single-student-container .actions-container .action-1 {
          margin: 0.5rem; }
