body main {
  background-color: #FCE77D;
  font-family: sans-serif; }
  body main #headers-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 1rem; }
  body main #student-header-container {
    min-width: 15rem; }
  body main #interview-scheduled-header-container {
    min-width: 15rem; }
  body main .input-initial {
    width: 60%;
    border: 1px solid #e5e5e5;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    padding: 0.25rem; }
  body main #filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body main #filter-container .label {
      font-weight: 600;
      font-size: 0.8rem;
      margin-top: 0.75rem;
      border: none; }
  body main .results-container {
    min-width: 20rem; }
    body main .results-container .single-result-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem; }
      body main .results-container .single-result-container .text-3 {
        margin: 0.25rem;
        margin-left: 1rem;
        min-width: 4rem; }
      body main .results-container .single-result-container .status {
        font-weight: 600;
        font-size: 0.9rem; }
  body main .students-container {
    min-height: 100vh;
    margin: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column; }
    body main .students-container .single-student-container {
      margin: 0.5rem;
      background-color: #FEFCD7;
      display: flex;
      flex-direction: row;
      justify-content: start; }
      body main .students-container .single-student-container .headers {
        font-weight: 600;
        margin-left: 0.5rem;
        font-size: 0.9rem;
        margin-bottom: 0.25rem; }
      body main .students-container .single-student-container .nam-bat-id-container {
        background-color: #FFCF79;
        display: flex;
        flex-direction: column;
        min-width: 15rem; }
        body main .students-container .single-student-container .nam-bat-id-container .text-1 {
          margin: 1rem; }
        body main .students-container .single-student-container .nam-bat-id-container .text-2 {
          margin: 0.25rem;
          margin-left: 1rem; }
        body main .students-container .single-student-container .nam-bat-id-container .text-3 {
          margin: 0.25rem;
          margin-left: 1rem; }
      body main .students-container .single-student-container .interviews-container {
        overflow-y: hidden;
        flex-grow: 1; }
        body main .students-container .single-student-container .interviews-container .single-interview-container {
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem; }
          body main .students-container .single-student-container .interviews-container .single-interview-container .text-3 {
            margin: 0.5rem; }
          body main .students-container .single-student-container .interviews-container .single-interview-container .status {
            font-weight: 600; }
          body main .students-container .single-student-container .interviews-container .single-interview-container #btn-new-result {
            padding: 0.5rem;
            background-color: #FFCF79; }
      body main .students-container .single-student-container .actions-container {
        display: flex;
        flex-direction: column; }
        body main .students-container .single-student-container .actions-container .action-1 {
          margin: 0.5rem; }
